/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.mla-card {
    border: 1px solid black;
    margin-bottom: 10px;
}

.summary-card {
    border: 1px solid black;
    margin-bottom: 10px;
}

.mapContainer {
    height: 100%;
}

.sidebarStyle {
    display: inline-block;
    position: absolute;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}

.fillHeight {
    height: 100%;
}

.centerImage {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/* Increase max width for search screen. */
/*@media (min-width: 1200px) {
    .container {
        max-width: 1390px;
    }
}*/